# Listas
- Las listas son secuencias ordenadas que pueden almacenar distintos tipos de objetos.
- En pocas palabras, es como una variable que puede almacenar muchas cosas wuuu.
- Se usan **[]** para indicar que es una lista y los objetos de la lista se separan por comas.
- Se les puede hacer **indexing** y **slicing**.
- Tienen **métodos** bastante útiles.

In [ ]:
# Ejemplos de listas:
# Lista de números enteros
enteros = 
print(enteros)
# Lista de números flotantes
flotantes = 
print(flotantes)
# Lista de strings
nombres = 
print(nombres)
# Lista mixta
mixta = 
print(mixta)

## Indexing y Slicing

In [ ]:
# Indexing
lista_random = ["CdC", 2, 3.3, "Hola", "Bubu", 5, "Laura"]
# Imprimimos el primer elemento
print()
# También lo podemos guardar en otra variable si es necesario
primer_elemento =
print(primer_elemento)
# Podemos modificar las listas con esto:
lista_random[4] =

In [ ]:
# Slicing
# Imprimir los primeros dos números
print()
# Guardar en una variable
otra_lista =
# Podemos agarrar solo los índices pares
numeros = [1,2,3,4,5,6,7,8,9,10]
impares =
print(impares)
# O voltearlos
voltiao = 
print(voltiao)

In [ ]:
# Podemos sumar listas en Python (Concatenación)
lista1 = 
lista2 = 
lista3 =
print(lista)

## Algunas funciones y métodos útiles.

In [ ]:
# len()
bubu_lista = 
# Muchas veces vamos a necesitar el tamaño de nuestra lista, eso se hace con len()
n =
print(n)

In [ ]:
# sum()
bubu_numeros = 
# Si queremos obtener la suma de todos los elementos de la lista usamos sum()
suma = 
print(suma)

In [ ]:
# Esto es un error, no se pueden sumar las cadenas con esta función.
new_list = ["Hola", 2]
sum(new_list)

## Agregar elementos a una lista.

In [ ]:
lista = ["CdC", 2, 3.3, "Hola", "Bubu", 5, "Laura"]
# Append
# Insert

## Eliminando cosas de una lista

In [ ]:
# Pop
lista.pop()
print(lista)
# Podemos guardar lo que pop nos regresa
item_eliminado = lista.pop()
print(item_eliminado)
print(lista)
# Podemos específicar la posición del popeo
lista.pop(1)

## Ordenar cosas

In [ ]:
numeros = [1, 5, 2, 9, 10, 8, 5]
letras = ['x', 'a', 'b', 'y', 'u']
# sort() NO REGRESA NADA

# Tuplas
- Las tuplas son parecidas a las listas. 
- Se diferencían en que las tuplas son inmutables. Es decir, una vez que un elemento está dentro de una tupla, no puede ser reasignada.
- Usan paréntesis **()**

In [ ]:
# Ejemplo
tupla = (1,2,3,4,5)
lista = [1,2,3,4,5]
# Las listas sí se pueden modificar
lista[] = 
print(lista)
# Pero las tuplas no
tupla[] =

In [ ]:
# Aún así, podemos hacer indexing o slicing
print(tupla[-1])
print(tupla[::2])
# Y realmente todo lo que hacen con listas se puede hacer con tuplas

## Count() e Index()

In [ ]:
t = ('Bubu', 'Laura', 'Missa', 'Bubu')
# .count()
# .index

# Diccionarios

In [ ]:
# Creemos un diccionario simple
diccionario = {"key1":"value1", "key2":"value2"}
# Una manera más "bonita" de crear diccionarios
diccionario = {
    "key1":"value1",
    "key2":"value2"
}
print(diccionario)
# Para agarrar valores
print(diccionario['key1'])

{'key1': 'value1', 'key2': 'value2'}
value1

In [ ]:
# Las "keys" pueden tener el nombre que ustedes quieran y 
# los valores pueden ser cualquier objeto que ya vimos antes
precios = {
    "manzana":7,
    "agua":10.5,
    "takis": 12,
    "doritos": 12
}

# Hey! quiero saber cuánto cuestan los taki taki rumba
print()

In [ ]:
# Puedes hacer diccionarios de listas y diccionarios de diccionarios!
d = {
    "k1":[1,2,3,4],
     "d1": {"k11":"Hola", "k12":"Adios"}
}
# Para acceder a esos datos podemos hacer lo siguiente
print(d["k1"])
print(d["d1"])
print(d["k1"][-1])
print(d["d1"]["k12"])

# Esto es útil cuando trabajas con API's y algunas otras cosas.

[1, 2, 3, 4]
{'k11': 'Hola', 'k12': 'Adios'}
4
Adios

## Agregar cosas a diccionarios

In [ ]:
# Digamos que 
d = {"k1":100, "k2":200}
print(d)
# Queremos meter un k3 que valta 300 por ejemplo:
d["k3"] = 300
print(d)

{'k1': 100, 'k2': 200}
{'k1': 100, 'k2': 200, 'k3': 300}

In [ ]:
# También podemos sustiuir lo que ya teníamos
d["k1"] = "hola"
print(d)

{'k1': 'hola', 'k2': 200, 'k3': 300}

## Métodos especiales para diccionarios

In [ ]:
# keys()
print()
# values()
print()
# items()
print()

# Conjuntos

In [ ]:
# Conjunto básico
conjunto = {10,12,'a',10,'b','a'}
# Elementos únicos
print(conjunto)
# Podemos ver que se imprime en un orden distinto (normal) y solo se imprimen elementos únicos.

{10, 'b', 12, 'a'}

In [ ]:
# Ejemplo: (Edades de alumnos)
edades = [12, 12, 8, 6, 9, 8]
edades = set(edades)
print(edades)
# Lo puedo volver a convertir a lista y luego ordenarlo
# ¡Lo van a usar para un problema más adelante!

{8, 9, 12, 6}